.App {
  text-align: center;
  display: flex;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ====================================== */

.sidebar {
  width: 30%;
  padding: 50px 0;
  background-color: #ba9cce;
}
.main {
  width: 70%;
  background-color: #ebe97c;
  box-sizing: border-box;
  display: flex;
}

button {
  outline: none !important;
  border: none;
}

textarea {
  resize: none !important;
  height: 300px !important;
}

.button__bar {
  padding: 50px 0;
}

.button__bar > a {
  display: block;
  margin-bottom: 20px;
}

.button__bar > a > div > button {
  margin: 0 auto;
  padding: 5px 10px;
  width: 200px;
}

.button__remove {
  background-color: #fc6167;
}

.button__add {
  background-color: #1ed293;
}

.button__show {
  background-color: rgb(221, 197, 218);
}

.button__submit {
  display: flex;
  justify-content: center;
}

.button__recipe {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #ebe97c;
  padding: 5px;
  width: 200px;
  color: #000;
}

.button__recipe:hover {
  text-decoration: none;
  color: #000;
}

.btn-warning {
  margin-left: 35px;
}

.form {
  width: 100%;
  height: 100vh;
  display: flex;
}

.form__wrapper {
  width: 70%;
  padding: 50px 20px;
  margin: auto;
}

.welcome {
  height: 100vh;
  display: flex;
  background: linear-gradient(
      180deg,
      rgba(235, 233, 124, 0.5) 0%,
      rgba(235, 233, 124, 1) 100%
    ),
    url(./img/501-5011353_salt-bae-funny-memes-stickers-whatsapp-memes.png);
  background-position: center;
  background-size: cover;
}

.welcome__wrapper {
  padding: 50px 20px;
  margin: auto 0;
}

.welcome__title {
  font-size: 45px;
}

.welcome__save {
  font-size: 20px;
}

.welcome__description {
  font-size: 16px;
}

.card {
  width: 45%;
  margin: 20px auto;
}

.card__food {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  box-sizing: border-box;
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.card__icons {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 20px;
}

.card__icons i {
  cursor: pointer;
  font-size: 20px;
}

.card__empty {
  display: block;
  width: 100%;
  font-size: 35px;
  height: 100vh;
}

.fa-trash-alt {
  color: #fc6167;
}

.fa-drumstick-bite {
  margin-left: 20px;
  animation: chicken 3s;
  animation-iteration-count: infinite;
}

@keyframes chicken {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
